.primer {
  text-align: center;
}

.segundo {
  display: flex;
  flex-direction: row;
}

.tercer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 30px;
  margin: 10px;
}
