<div>
  <!-- Formulario -->
  <div>
    <span class="campo">
      <label for="name">Nombre: </label>
      <input type="text" id="name" pInputText [(ngModel)]="name" /> </span
    ><br />
    <span class="campo">
      <label for="email">Email: </label>
      <input type="email" id="email" pInputText [(ngModel)]="email" /> </span
    ><br />
    <span class="campo">
      <label for="numTel">Número de teléfono: </label>
      <input type="tel" id="numTel" pInputText [(ngModel)]="numTel" /> </span
    ><br />
    <span class="campo">
      <label for="password">Contraseña: </label>
      <p-password
        styleClass="pass"
        [(ngModel)]="password"
        [feedback]="false"
      ></p-password> </span
    ><br />
    <span class="campo">
      <label for="password2">Repetir contraseña: </label>
      <p-password
        styleClass="pass"
        [(ngModel)]="repeatPassword"
        [feedback]="false"
      ></p-password> </span
    ><br />
    <br />
    <span class="campo">
      <label>Comunidad: </label>
      <p-multiSelect
        [options]="comunidades"
        [(ngModel)]="comunidad"
        optionLabel="Comunidad"
      >
      <ng-template let-comunidad pTemplate="item">
        <div>
          <div>{{ comunidad.direction }}</div>
        </div>
    </ng-template>
    </p-multiSelect> </span
    ><br />
    <br />
    <div class="switch">
      <p-inputSwitch [(ngModel)]="siLeido"></p-inputSwitch> &nbsp;
      <span>He leido y acepto la politica de privacidad.</span>
    </div>
  </div>
  <br />
  <!-- mode="basic" -->
  <p-fileUpload
    [customUpload]="true"
    chooseLabel="Insertar Foto de perfil"
    [auto]="true"
    accept="image/*"
    (uploadHandler)="onFileUpload($event)"
  ></p-fileUpload
  ><br />
  <!-- Botones -->
  <div>
    <p-button styleClass="p-button-success" (onClick)="registrarse()"
      >Registrarse</p-button
    >&nbsp;
    <p-button styleClass="p-button-danger" (onClick)="cancelar()"
      >Cancelar</p-button
    >
  </div>
</div>
