h2 {
  text-align: center;
}

.card {
  width: 100%;
}

.ingEGas {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}

.ingEGas * {
  width: 47%;
  margin: 3%;
  margin-bottom: 0;
}

.cuentsYsaldo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cuentsYsaldo > * {
  margin: 10px;
}

.saldo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
