<div class="center">
    <h3>Servicios profesionales</h3>
    <div class="contenedor">
        <a href="https://basantacocinas.com">
            <img src="https://www.dtrastoy.informaticapinguela.net/image/cropped-basanta-cocinas-logo.png"/>
        </a>
        <a href="https://monchoysantome.com">
            <img src="https://www.dtrastoy.informaticapinguela.net/image/logo_footer.png"/>
        </a>
        <a href="https://www.paxinasgalegas.es/j-peteira-629897em.html">
            <img src="https://www.dtrastoy.informaticapinguela.net/image/LOGOTIPOCUBIERTASJPETEIRA.jpg"/>
        </a>
        <a href="https://grupopele.com">
            <img src="https://www.dtrastoy.informaticapinguela.net/image/descarga.png"/>
        </a>
        
    </div>
</div>