<div class="contenedor">
    <h3>Legislación y otros datos que pueden resultar interesantes.</h3>

    <p-accordion [activeIndex]="7">
        <p-accordionTab header="Historia">
            <p>
                A partir de 1968, durante la dictadura franquista, se constituyeron en España las primeras asociaciones
                de vecinos acogiéndose a la Ley de Asociaciones de Cabezas de Familia de 1964.2​Las asociaciones de
                vecinos celebraron en 1998 su treinta aniversario y fue momento para hacer balance de su actuación a lo
                largo de un período tan intenso en cuanto a cambios sociales. Ningún analista puede negar el
                protagonismo del movimiento ciudadano en las profundas transformaciones políticas, urbanas, sociales y
                culturales acaecidas en las últimas décadas del siglo XX.

                Quizás su antecedente más lejano habría que buscarlo en la II República, cuando la Asociación Oficial de
                Vecinos-Inquilinos de Madrid protagonizó una movilización con el objetivo de mejorar los contratos con
                los caseros en lo referente a los alquileres y las malas condiciones de las viviendas; y su precedente
                más inmediato, al establecer un «santuario» desde donde se desplegaron posteriormente algunas
                estructuras vecinales de carácter democrático, fueron aquellas paternalistas y clientelares Asociaciones
                de Cabezas de Familia del Movimiento surgidas a mediados de los años cincuenta. Pero las asociaciones de
                vecinos tienen su origen propiamente en aquellos convulsos finales de los años sesenta. Desde entonces,
                su discurrir ha pasado por muy diferentes contextos sociales y políticos, lo que las ha obligado
                adaptarse a distintas situaciones.

                En 1968, en plena dictadura franquista y al calor de la reciente Ley de Asociaciones de 1964, se
                constituyó la Asociación de Vecinos de Palomeras Bajas (Vallecas), seguida de inmediato por la creación
                de otras; la existencia de una fuerte «crisis urbana», debido a la carencia de servicios urbanos básicos
                (equipamientos infradotados, zonas verdes, transporte público, etc.), un parque de viviendas inadecuado
                y la falta de libertades políticas que permitiesen un control democrático de una Administración local
                que crecientemente se percibía como ineficaz, autoritaria y corrupta llevaron a grupos de vecinos de los
                barrios a organizarse y movilizarse.

                En esos primeros años de consolidación de las asociaciones (1969-1974), éstas fueron un refugio para la
                contestación social y política a la dictadura franquista e incluían a gentes de diversas sensibilidades
                ideológicas, políticas o confesionales. Hay que destacar que en su origen se produjo una singular
                sintonía entre activistas provenientes del Partido Comunista de España y de la izquierda con sectores de
                cristianos de base. Pero sobre todo, poco a poco, fueron incorporando extensas redes vecinales, con lo
                que llegaron a obtener una amplia representatividad como organización fundamental de la vida de barrio.
                Son rasgos definitorios de su naturaleza asociativa su apego al territorio, que le imprime una
                estrategia integral, trabajando y siendo capaces de poner en relación múltiples dimensiones de la
                calidad de vida, como la salud, el urbanismo, la educación, la cultura, la vivienda, los problemas de la
                mujer y de los jóvenes, recreando así los sentimientos de pertenencia a una comunidad, el orgullo y la
                identidad de barrio.

                Las asociaciones eran interclasistas y permeables a las diversas ideologías, y los dirigentes vecinales
                siempre han velado por la independencia de las asociaciones, siendo mayor la influencia del movimiento
                ciudadano sobre los programas de los partidos políticos que viceversa. De hecho, su decidida apuesta por
                la democracia participativa, así como su carácter asambleario y democrático hicieron de las asociaciones
                verdaderas escuelas de democracia.

                El período comprendido entre 1975 y 1979 representó la edad de oro del movimiento vecinal. Son los años
                de las grandes movilizaciones y conquistas políticas y sociales. Su lucha por las libertades públicas,
                la legalización de las asociaciones, las mejores condiciones de habitabilidad de los barrios y contra la
                carestía de la vida se expresó en consignas como Pan, trabajo y libertad, Vivienda para todos, aquí y
                ahora o La Vaguada es nuestra, que se oyeron con fuerza en la primera manifestación autorizada de junio
                de 1976, a la que asistieron cincuenta mil personas; o poco más tarde, en septiembre, la manifestación
                de la guerra del pan en Moratalaz, con cien mil asistentes a la mayor concentración conocida en Madrid
                hasta entonces. Pero la conquista más emblemática del movimiento ciudadano se dio en el área de la
                vivienda. El derecho de los vecinos, amenazados por procesos especulativos, de permanecer en sus barrios
                se tradujo en nuevas operaciones de vivienda pública y en nuevos equipamientos que transformaron la
                periferia de Madrid.

                Una vez instaurada la democracia municipal, las asociaciones tardaron en adaptarse a la nueva situación
                política. La década de los ochenta se caracterizó por la pérdida de dirigentes, que pasaron a engrosar
                las recién estrenadas instituciones democráticas, a lo que se añadió una mayor legitimación de los
                canales institucionales para la participación ciudadana. Todos estos factores provocaron una pérdida de
                referentes y de la propia identidad del movimiento. Aun así, el movimiento exploró nuevas formas de
                intervención en los barrios, aprendió a combinar la presión con la negociación y desarrolló una clara
                estrategia de colaboración con las administraciones públicas para facilitar la creación y gestión de
                servicios en los barrios y el desarrollo de mecanismos de control democrático.

                Durante la década de los noventa, la persistencia y crecimiento del desempleo en los barrios más
                desfavorecidos, la integración de la población inmigrante y el incremento de los rasgos de la exclusión
                social, sobre todo, entre jóvenes y mujeres, fueron los nuevos retos que hubo de afrontar el movimiento
                ciudadano. La creciente segmentación social junto a los sentimientos de vulnerabilidad e incertidumbre
                han facilitado el surgimiento de movimientos insolidarios dirigidos contra los colectivos más débiles,
                provocando una reacción rápida de las asociaciones de vecinos. Esa búsqueda de atender las nuevas
                necesidades ha llevado, sin olvidar su naturaleza reivindicativa, a desarrollar nuevos sectores de
                actividad en una estrategia de cogestión de espacios e iniciativas que se inscriben en una lógica del
                desarrollo local.
            </p>
        </p-accordionTab>
        <p-accordionTab header="Organización">
            <p>
                Las asociaciones de vecinos se agrupan en federaciones de ciudad (local), comarca o provincia; éstas a
                su vez en confederaciones de ámbito autonómico, uniéndose finalmente en confederaciones o uniones de
                ámbito estatal.

                Las asociaciones de vecinos en España, potencialmente agrupadas en la Coordinadora Estatal de
                Asociaciones de Vecinos, se unieron en 1988 en la Confederación de Asociaciones de Vecinos de España
                (CAVE), actualmente disuelta.

                Posteriormente se realizaron dos intentos de unificar y coordinar el movimiento vecinal estatal con la
                Unión Estatal de Confederaciones de Asociaciones Vecinales (UECAV) disuelta en 20123​ y la Confederación
                Estatal de Asociaciones de Vecinos (CEAV)4​
            </p>
        </p-accordionTab>
        <p-accordionTab header="Abreviatura">
            <p>
                Según nos dice la Ortografía de la lengua española (2010) de la Real Academia Española, en las
                abreviaturas de expresiones complejas es el elemento nuclear el que pluraliza. Aunque la expresión
                compleja contenga un elemento en plural, no se tendrá en cuenta en la formación de la abreviatura. Por
                tanto, la abreviatura de asociación de vecinos es A.V.
            </p>
        </p-accordionTab>
        <p-accordionTab header="Regulación España">
            <p>
                Las Comunidades de Propietarios en España se rigen mayoritariamente por la Ley de Propiedad Horizontal,
                excepto en Cataluña, donde la Ley aplicable es el Código civil de Cataluña. Estas Leyes regulan la
                utilización de espacios y servicios comunes del inmueble. Además de las citadas Leyes, están los
                estatutos de carácter interno redactados por la propia Comunidad de Propietarios que regulan la
                organización y normas menores para los propietarios e inquilinos. En muchos casos sirven para fijar
                criterios en situaciones de conflicto de intereses de los propios vecinos. 2​3​
            </p>
        </p-accordionTab>
        <p-accordionTab header="Reglas Básicas y principios de interés para propietarios en la Comunidad de Vecinos">
            <ul>
                <li>
                    Los propietarios de un edificio están obligados a representar a su comunidad como presidentes o
                    secretarios. Las Comunidades pueden establecer criterios a través de los estatutos de la comunidad
                    (por
                    ubicación, por antigüedad, por turnos) para regular la rotación de los cargos.
                </li>
                <br>
                <li>
                    Todo propietario debe contribuir a los gastos de la comunidad con arreglo a su coeficiente de
                    participación, fijado en las escrituras de división horizontal. Tanto por los estatutos de la
                    comunidad
                    de propietarios como por acuerdo unánime de todos los integrantes de la misma, podrá establecerse
                    una
                    forma diferente de contribución para determinados gastos.
                </li>
                <br>
                <li>
                    La Junta de propietarios se reunirá, por lo menos, una vez al año para aprobar los presupuestos y
                    cuentas y en las demás ocasiones que lo considere conveniente el Presidente o lo pidan la cuarta
                    parte
                    de los propietarios, o un número de éstos que representen, al menos, el 25 por 100 de las cuotas de
                    participación.
                </li>
                <br>
                <li>
                    El comprador de una vivienda de segunda mano deberá asumir las deudas y cuentas pendientes del año
                    corriente y del año anterior del antiguo propietario (por esto es útil que el comprador solicite
                    información sobre el estado de las cuentas del vendedor con la comunidad). No obstante, el vendedor
                    deberá aportar en el momento de la transmisión un certificado de deudas con la comunidad, salvo que
                    fuese expresamente exonerado de esta obligación por el adquiriente.
                </li>
                <br>
                <li>
                    Todos los propietarios deberán permitir la entrada a su vivienda y crear las servidumbres necesarias
                    a
                    los operarios de la comunidad para hacer reparaciones y obras necesarias en los elementos comunes.
                    Las zonas comunes son propiedad de todos los propietarios, por lo que no deberá ser ocupada por
                    ningún
                    objeto, ni acaparada para ningún fin que impida el uso de dichas zonas por los demás vecinos.
                </li>
                <br>
                <li>
                    No se permitirá ninguna actividad que cause un ruido considerable por la noche. La hora depende de
                    los
                    estatutos de la comunidad o la normativa local, siendo lo más común a partir de las 22h.
                </li>
            </ul>
        </p-accordionTab>
        <p-accordionTab header="Remuneración">
            <p>
                El Secretario cobrará unos honorarios por los servicios que preste a la Comunidad de Propietarios, estos
                honorarios variarán dependiendo de los servicios que preste. No existen unas tarifas fijas y cada
                administrador de fincas puede establecer sus propios precios, aunque los administradores colegiados
                establecen un rango de precios mínimo para no generar competencia a la baja y poder seguir ofreciendo un
                buen servicio. Los honorarios serán revisados el día 1 de enero de cada año en función del cierre del
                IPC a fecha 31 de diciembre del año anterior.
            </p>
        </p-accordionTab>
        <p-accordionTab header="Formación y requisitos">
            <p>
                Para ser administrador o administradora:

                El cargo de administrador y, en su caso, el de secretario-administrador podrá ser ejercido por cualquier
                propietario, así como por personas físicas con cualificación profesional suficiente y legalmente
                reconocida para ejercer dichas funciones (cualifiación no existente en España). También podrá recaer en
                corporaciones y otras personas jurídicas en los términos establecidos en el ordenamiento jurídico.

                Al no existir una formación oficial específica para desarrollar esta actividad los diferentes colegios y
                asociaciones, establecen de forma privada los requisitos para poder acceder a estas agrupaciones, desde
                estudios privados propios a organizados por universidades, Institutos y/o centros formativos de manera
                privada y/o a través de titulaciones superiores,16​ que en algunos casos no tienen nada que ver con las
                funciones que estos profesionales desarrollan, por lo cual antes de contratar sus servicios es
                recomendable conocer su ética y profesionalidad antes de que si existe o no colegiación, la cual ''no es
                obligatoria.''
            </p>
        </p-accordionTab>
        <p-accordionTab header="Ley de Sociedad de Convivencia">
            <p-accordionTab header="Resumen">
                <p>
                    La Ley de Convivencia es una norma legal mexicana publicada en la Gaceta Oficial del Distrito
                    Federal el
                    16 de noviembre de 2006 y que entró en vigor al día siguiente después del plazo de 120 días
                    naturales de
                    su publicación, es decir el 17 de marzo de 2007. Da reconocimiento legal a aquellos hogares formados
                    por
                    personas sin parentesco consanguíneo o por afinidad. La ley contempla y determina ciertos derechos y
                    obligaciones para los miembros de la sociedad de convivencia, de los que carecían muchas familias
                    antes
                    de la creación de esta ley. Entre otros, se definió en ella el derecho a heredar (la sucesión
                    legítima
                    intestamentaria), a la subrogación del arrendamiento, a recibir alimentos en caso de necesidad y a
                    la
                    tutela legítima — en casi todo México sólo gozan de estos derechos los ascendientes, descendientes o
                    el
                    cónyuge legal de una persona. Gracias a esta nueva ley, se pueden registrar sociedades de
                    convivencia en
                    el Distrito Federal.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Bilateralidad de derechos y deberes">
                <p>
                    Es una ley civil autónoma de interés público. Aun si se limitara a dar algún beneficio a una minoría
                    seguiría conservando este carácter (al igual que la Ley de Derechos de Autor, que solamente protege
                    a los creadores), pero en realidad reconoce derechos y obligaciones para las personas que suscriben
                    un convenio de sociedad de convivencia, es decir, desde el momento en que los convivientes firman su
                    convenio adquieren derechos y obligaciones bilaterales. Al registrar este convenio ante la Dirección
                    Jurídica de la alcaldía correspondiente, comienzan a surtir efecto sus derechos oponibles a terceros
                    equivalentes a conconcubinos (pareja de hecho). Luego de dos años del registro, se adquiere también
                    el derecho a ejercer legítimamente la tutela sobre la persona conviviente y sobre sus bienes (en
                    caso de enfermedad grave o imposibilidad de gobernarse), de manera equivalente a los cónyuges.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Una ley polémica: homosexualidad y estado civil">
                <p>
                    Esta ley adquirió cierta notoriedad debido a que los medios de comunicación la manejaron como una
                    legislación presuntamente destinada a equiparar las relaciones homosexuales al matrimonio, cuyo
                    acceso anteriormente estaba reservado exclusivamente para parejas heterosexuales. En realidad, esta
                    ley no reconoce vínculos familiares, y solamente concierne a los adultos de cualquier sexo o género
                    que subscriban el convenio, en ningún caso a los menores hijos de cualquiera de los convivientes.
                    Además, el hecho de establecer una sociedad de convivencia no cambia el estado civil de los
                    convivientes, que siguen siendo solteros legalmente. Por ello, la sociedad de convivencia no es
                    realmente equiparable a un matrimonio sino que más bien es una forma de unión civil.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Especificidad de la ley">
                <p>
                    Por ser una ley especial su diseño legal presenta algunas características distintas:

                    Para hacer efectivo el derecho a obtener alimentos tienen que transcurrir dos años y en relación con
                    los derechos sucesorios la ley remite a las reglas del Código Civil, por lo que el conviviente que
                    sobrevive heredará como si fuera el cónyuge del conviviente muerto. Si existen hijos, heredará como
                    un hijo y, si existen padres, heredará la mitad del patrimonio.

                    La tutela debe declararse judicialmente, proceso que no es automático, pero en el que se sigue un
                    orden para que el juez designe tutor, pues en este procedimiento intervienen todos aquellos que
                    legalmente puedan ejercitarla. Como la Ley de Sociedad de Convivencia equipara al conviviente con el
                    concubino y con el cónyuge, se entiende que el juez deberá preferir en primer lugar, para designar
                    tutor, al conviviente.

                    Las sociedades de convivencia se inscriben en un registro propio, distinto al Registro Civil, pero
                    las autoridades administrativas ante las que se registran se cercioran previamente a la
                    formalización del acto de que ninguno de los solicitantes se encuentre unido en matrimonio.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Alcances de la ley">
                <p>
                    En cuanto a los alcances de la ley, próximamente podremos conocer si a través de demandas contra el
                    IMSS por discriminación se logra jurisdiccionalmente obtener la equiparación plena al concubinato
                    para los fines de seguridad social (atención médica para el conviviente no asegurado y pensiones de
                    viudedad).

                    A través del matrimonio y el concubinato se puede tener acceso a los beneficios de la seguridad
                    social, no por alguna dispoisición intrínseca establecido en el Código Civil, sino por lo que
                    establecen los reglamentes del IMSS, ISSSTE, ISSFAM, como organismos federales de seguridad social.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Historia de la ley">
                <p>
                    La primera iniciativa de Ley de Sociedad de Convivencia fue presentada por la legisladora
                    independiente Enoé Uranga desde el año 2001, pero en aquel entonces fue bloqueada por el Partido
                    Acción Nacional (PAN), por el Partido Revolucionario Institucional (PRI) e incluso por el Partido de
                    la Revolución Democrática (PRD).

                    La ley fue apoyada por la Comisión de Derechos Humanos del Distrito Federal (CDHDF), por el Consejo
                    Nacional para Eliminar y Prevenir la Discriminación (Cenapred), por las organizaciones feministas y
                    de derechos de las minorías sexuales (ONG), y también por intelectuales y artistas diversos.

                    La ley fue rechazada por Asociaciones Religiosas como lo son la "Iglesia Catolica. A.R." y la
                    Agrupación Política Nacional Encuentro Social y por el partido local del Estado de México Unidos por
                    México (que agrupan a Iglesias Evangélicas y organizaciones como la Unión Nacional de Padres de
                    Familia (UNPF), los Caballeros de Colón, RedFamilia y ProVida.

                    Según una encuesta realizada por la empresa Parametría en mayo de 2003, el 55 por ciento de la
                    población general estaba a favor de la ley de sociedades de convivencia. Desagregada, la información
                    muestra que:

                </p>
                <ul>
                    <li>
                        quienes tienen entre 18 y 35 años son quienes más están de acuerdo (un 67 por ciento), y
                    </li>
                    <li>
                        quienes están más en desacuerdo son los mayores de 55 años (con un 45 por ciento);
                    </li>
                </ul>
            </p-accordionTab>
            <p-accordionTab header="Historia de la iniciativa de ley">
                <p>
                    La legisladora independiente Enoé Uranga presentó la iniciativa original en el año 2000, como
                    presidenta de la Comisión de Derechos Humanos de la II Legislatura de la ALDF. Una vez que la
                    influencia del líder perredista Andrés Manuel López Obrador disminuyó después de una apretada
                    derrota en las elecciones presidenciales del 2 de julio de 2006 y de que Alejandro Encinas, por
                    entonces Jefe de Gobierno del Distrito Federal, apoyó el proyecto de ley, el PRD, bajo la
                    coordinación del diputado Víctor Hugo Círigo, la convirtió en el primer objetivo legislativo de su
                    bancada, que es mayoritaria en la Asamblea Legislativa y, en gran medida, gracias a ella se logró su
                    aprobación. Formalmente, la iniciativa fue vuelta a presentar en esta IV Legislatura de la ALDF por
                    el Partido Alternativa Socialdemócrata y Campesina.

                    La ley contó además con los votos del Partido Revolucionario Institucional y con los de los partidos
                    Convergencia por la Democracia, Nueva Alianza (dividido, pues Gloria Cañizo se abstuvo y Fernando
                    Espino Arévalo votó en contra) y Partido del Trabajo, pero con la abstención del Partido Verde
                    Ecologista de México y la franca oposición del Partido Acción Nacional (PAN), quien argumento que la
                    iniciativa no había sido lo suficientemente discutida, a pesar de que llevaba casi seis años en
                    debate. Los observadores afirman que el PAN se opuso debido a su cercanía ideológica a la iglesia
                    católica. Un diputado del PRD, Samuel Hernández Abarca, se abstuvo debido a que pertenece a la
                    iglesia fundamentalista de origen mexicano La Luz del Mundo.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Otros beneficiados">
                <p>
                    Dado que la sociedad de convivencia puede terminarse por mera notificación presentada por una de las
                    partes (o por ambas) a la Dirección Jurídica de la delegación política correspondiente, cada vez un
                    mayor número de parejas heterosexuales la consideran seriamente como una opción menos coercitiva que
                    el contrato matrimonial usual.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Cómo usar la ley">
                <ul>
                    <li>
                        La Ley de Sociedad de Convivencia sólo cubre a quienes cuenten con un comprobante de domicilio del
                        hogar común en la Ciudad de México. Pero es efectivo su cumplimiento en todo el país, dado el
                        principio constitucional que establece la vigencia de los actos jurídicos reconocidos en un estado,
                        o en la CdMx. en todos los demás estados de la república.
                    </li>
                    <li>
                        Podrán establecer una sociedad de convivencia dos personas mayores de edad que sean del mismo sexo o
                        de diferentes sexos.
                    </li>
                    <li>
                        No pueden estar casados, tener otra sociedad de convivencia, ni mantener un concubinato.
                    </li>
                    <li>
                        No pueden tener parentesco ascendente o descendente, ni lateral hasta en cuarto grado.
                    </li>
                    <li>
                        Se requiere la presentación de dos testigos.
                    </li>
                    <li>
                        La sociedad de convivencia es esencialmente un convenio bilateral, que no es constituido por la
                        autoridad, sino por el libre acuerdo entre los convivientes. Se puede elaborar un convenio que fije
                        los acuerdos de propiedad y de convivencia, pero cualquier traspaso de propiedades inmuebles debe
                        necesariamente, para tener validez plena, hacerse por escritura pública y registrarse ante el
                        registro público de la propiedad.
                    </li>
                    <li>
                        El convenio es vigente para cuestiones bilaterales desde el momento en que lo firmen los
                        convivientes, pero para ser oponible a terceros debe registrarse ante la dirección jurídica y de
                        gobierno de la delegación en donde se ubique el domicilio común.
                    </li>
                    <li>
                        El trámite debe realizarse ante la Jefatura de Unidad Departamental de Justicia Cívica y Registro
                        Civil de la delegación política correspondiente al domicilio común de convivencia.
                    </li>
                    <li>
                        Las solicitudes para el trámite de ratificación y registro se distribuyen, desde el 16 de marzo de
                        2007, en la delegación política correspondiente al domicilio común de convivencia.
                    </li>
                    <li>
                        El costo del trámite de registro es de unos $86 pesos, y la terminación o cualquier modificación del
                        convenio patrimonial y de convivencia cuestan unos $1,450 pesos.
                    </li>
                </ul>
            </p-accordionTab>
        </p-accordionTab>
    </p-accordion>
</div>