<div>
  <div class="insertMessage">
    <p-button (onClick)="mostrarForm()">Insertar Aviso</p-button>
    <p-dialog
      header="Header"
      [(visible)]="visible"
      position="top"
      [style]="{ width: '50vw' }"
    >
      <div class="form">
        <div>
          <p-fileUpload
            chooseLabel="Seleccione una imagen"
            [customUpload]="true"
            (uploadHandler)="onFileUpload($event)"
            [auto]="true"
            [url]="urlBackendImage"
            accept="image/*"
          ></p-fileUpload>
        </div>

        <div class="input">
          <label for="input">Descripción:</label>
          <textarea
            id="input"
            rows="5"
            cols="60"
            pInputTextarea
            [value]="textArea"
          ></textarea>
        </div>
        <div>
          <p-button styleClass="p-button-success" (onClick)="anadir()"
            >Añadir</p-button
          >
          <p-button styleClass="p-button-danger" (onClick)="cancel()"
            >Cancelar</p-button
          >
        </div>
      </div>
    </p-dialog>
  </div>
  <div class="mensajes">
    <p-messages severity="info" [closable]="false" *ngFor="let aviso of avisos">
      <ng-template pTemplate>
        <p-image
          [src]="
            'https://www.dtrastoy.informaticapinguela.net/image/' + aviso.imagen
          "
          [preview]="true"
          width="50"
        >
        </p-image>
        <div class="ml-2 text-center">{{ aviso.texto }}</div>
      </ng-template>
    </p-messages>
  </div>
</div>
