.mensajes {
    margin: 10px;
}

p-button {
    margin: 10px;
}

.insertMessage {
    margin: 10px;
    text-align: center;
}

.ml-2 {
    margin: 10px;
    text-align: center;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}